<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userDao" class="tech.lvjiawen.spring.aop.dao.UserDao"></bean>
    <bean id="employeeDao" class="tech.lvjiawen.spring.aop.dao.EmployeeDao"></bean>
    <bean id="userService" class="tech.lvjiawen.spring.aop.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="employeeService" class="tech.lvjiawen.spring.aop.service.EmployeeService">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>
    <!--    AOP 配置-->
    <bean id="methodAspect" class="tech.lvjiawen.spring.aop.aspect.MethodAspect"></bean>
    <aop:config>
<!--        <aop:pointcut id="pointcut" expression="execution(public * tech.lvjiawen..*.*(..))"/>-->
        <!-- 只对所有 Service 类生效       -->
        <aop:pointcut id="pointcut" expression="execution(public * tech.lvjiawen..*Service.*(..))"/>
        <!--   定义切面类     -->
        <aop:aspect ref="methodAspect">
            <!-- before 通知，目标方法在运行之前先执行 methodAspect.printExecutionTime() -->
            <aop:before method="printExecutionTime" pointcut-ref="pointcut"></aop:before>
            <!-- after 通知  -->
            <aop:after method="doAfter" pointcut-ref="pointcut"></aop:after>
            <!-- 返回后 通知  -->
            <aop:after-returning method="doAfterReturning" returning="ret" pointcut-ref="pointcut"></aop:after-returning>
            <aop:after-throwing method="doAfterThrowing" throwing="th" pointcut-ref="pointcut"></aop:after-throwing>
        </aop:aspect>
    </aop:config>
</beans>